@media only screen and (max-width: 980px){
	#mob-menu{
		display: block;
	}
	#desk{
		display: none;
	}

	/* footer*/

	#nr{
		margin-top: 20px;
	}

	#text{
		width: 80%;
		margin-left: 10%;
	}


	/* for index.css */

	.img{
		width: 100%;
		margin-left: 0;
	}
	.grid{
		display: grid;
		grid-template-columns: 1fr;
	}
	.content{
		width: 100%;
		margin-left: 0;
	}

	/* for detail.html */

	#img1{
		width: 100%;
	}

	.txt-big{
		width: 100%;
		margin-left: 0;
		font-size: 20px;
	}
	.txt-small{
		width: 90%;
		margin-left: 5%;
	}
	.text{
		width: 90%;
		margin-left: 5%;
	}
	#but{
		width: 100%;
		margin-top: -100px;
	}
	#twitter1,#facebook1,#whatsapp{
		width: 32.8%;
		float: left;
		margin-top: 50px;
	}
	#facebook1{
		border: 1px solid silver;
	}
	#twitter1{
		border-left: none;
		border-right: none;
	}
	#whatsapp{
		display: block;
	}
	.post{
		width: 100%;
		margin-left: 0;
	}
	.imgTxt{
		width: 100%;
		margin-left: 0;
	}
	#author{
		display: none;
	}
	.share{
		display: none;
	}
	.share-mobile{
		display: block;
		width: 100%;
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.share-mobile #but{
		margin-top: -50px;
	}

	.what{
		width: 100%;
		margin-left: 0;
	}
	.grid3{
		grid-template-columns: 1fr;
		width: 90%;
		margin-left: 5%;
	}
	.form{
		width: 100%;
		margin-left: 0;
		border-left: none;
		border-right: none;
	}
}